input,
select,
button,
textarea {
    border-style: dashed;
    border-color: red
}

.forms {
    background-color: aquamarine;
    max-width: 67%;
    max-height: 300px;
    margin: 20px;
}

body {
    display: flex;
    justify-content: left;

}